{%extends 'base.html' %}

{% block content %}
    <form method = "post" class="buttons">
        <h3>Enter The Chat Room</h3>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="name" placeholder="pick a name" value="{{name}}">

        </div>
        <div class="join">
            <input type="text" placeholder="Enter Room code" name="code" value="{{code}}">
            <button type="submit" name="join" value="true">Join a Room</button>
        </div>
        <button type="submit" name="create" value="true" class="create-button">Create a Room</button>
        {% if error %}
        <ul>
            <li>{{ error }}</li>
        </ul>
        {% endif %}
    </form>
{% endblock %}